<!DOCTYPE html>
<html>
    <head>
        <title>Tests Vue JS</title>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- production version, optimized for size and speed -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    </head>
    <body>
        <section id="menu" v-if="view">
            <h1 v-html="content"></h1>
            <div-link id='menu-links' v-for='(link, key) in links' :key='key' :data='link'></div-link>
        </section>

        <template id="div-link">
            <div style="border: 1px dashed #ccc; margin: 30px; padding: 20px;">
                <strong>{{data.label}}:</strong>
                <a :href="data.href" v-on:click="data.access=true" :title="data.title" target="_blank">{{data.inner}}</a>
                {{ data.access ? '✓' : null }}
            </div>
        </template>
        
        <script>
            var menu = new Vue({
                el: '#menu',
                data: {
                    view: false,
                    content: '',
                    links: new Array()
                }
            });

            document.querySelectorAll('template').forEach(element => {
                Vue.component(element.id, {
                    props: ['data'],
                    template: `#${element.id}`,
                    methods: {
                        change: function(index, value) {
                            alert(value);
                        }
                    }
                });
            });

            window.addEventListener('load', function() {
                menu.content = 'Documentação Vue <em><small>(feito com Vue.component())</small></em>';
                menu.links = {
                    "guia": {
                        "access": false,
                        "label": "Guia",
                        "title": "Aprenda Vue.JS",
                        "href": "https://br.vuejs.org/v2/guide/",
                        "inner": "br.vuejs.org/v2/guide/"
                    },
                    "api": {
                        "access": false,
                        "label": "API",
                        "title": "Detalhes do Vue.JS",
                        "href": "https://br.vuejs.org/v2/api/",
                        "inner": "br.vuejs.org/v2/api/"
                    },
                    "estilo": {
                        "access": false,
                        "label": "Estilo",
                        "title": "Use corretamente Vue.JS",
                        "href": "https://br.vuejs.org/v2/style-guide/",
                        "inner": "br.vuejs.org/v2/style-guide/"
                    }
                };
                menu.view = true;
            });
        </script>

    </body>
</html>
